html,
body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Serif', Arial, serif;
    background: var(--bg);
    color: var(--text);
}

.content-container {
    flex: 1 0 auto;
    padding: 0 64px;
}