html,
body {
    height: 100%;
    margin: 0;

    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Serif', Arial, serif;
    color: black;
    background-color: white;
}

.content-container {
    flex: 1 0 auto;
    padding: 0 64px;
}