.container {
    margin-top: 74px;
    text-align: center;
    border: 3px solid var(--gold);
    padding: 48px;
}

.container>h2 {
    color: black;
}

.container>form {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    align-items: center;
    gap: 24px;
}

.form-field {
    width: 512px;
    height: 24px;
    font-size: 14px;
}

.container>form>button {
    margin-top: 16px;

    padding: 12px 24px;

    border: 3px solid #e8dcc5;
    background: none;
    color: black;

    text-align: center;
    align-items: center;
    cursor: pointer;
}

.container>form>button:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.error-container {
    color: red;
    margin-bottom: 10px;
}