/* CHAT BUTTON */
#chat-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 56px;
    height: 56px;

    background: #3f312b;
    color: white;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 22px;
    cursor: pointer;

    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    z-index: 9999;
}

/* CHAT BOX */
#chatbot {
    position: fixed;
    bottom: 90px;
    right: 20px;

    width: 320px;
    height: 420px;

    background: #fff;
    border-radius: 16px;

    box-shadow: 0 12px 35px rgba(0,0,0,0.2);

    display: none; /* hidden by default */
    flex-direction: column;

    overflow: hidden;
    z-index: 9999;
}

/* HEADER */
.chat-header {
    background: #f4ede4;
    padding: 14px;
    font-weight: 500;
    font-family: 'Inter';
}

/* BODY */
.chat-body {
    flex: 1;
    padding: 12px;
    overflow-y: auto;
}

/* INPUT */
.chat-input-area {
    display: flex;
    border-top: 1px solid #eee;
}

.chat-input-area input {
    flex: 1;
    border: none;
    padding: 10px;
}

.chat-input-area button {
    width: 50px;
    border: none;
    background: #3f312b;
    color: white;
}

.bot-message {
    background: #f4ede4;
    padding: 10px 14px;
    border-radius: 14px;
    margin-bottom: 8px;
    font-size: 14px;
}

.user-message {
    background: #3f312b;
    color: white;
    padding: 10px 14px;
    border-radius: 14px;
    margin-bottom: 8px;
    align-self: flex-end;
    font-size: 14px;
}

.chat-body {
    display: flex;
    flex-direction: column;
}