.productcard {
    max-width: 300px;
    text-align: center;
    background-color: #f9f9f9;
}

.productcard-title {
    padding-top: 12px;
    font-size: medium;
    color: var(--charcoal);
}

.productcard-description {
    font-size: small;
    color: var(--charcoal);
}

.productcard .productcard-image {
    width: 100%;
}